html{
  scroll-behavior: smooth;
}
body{
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
}

.App {
  text-align: center;
  box-sizing: border-box;

  width: 790px;
  height: 640px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -340px 0 0 -395px;

  /*border: 1px solid red;*/

  /*background-color: #f0f0f0;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#webCam{
  padding: 0px;
}

.inputCanvas,.outputCanvas{
  border: 1px solid black;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

.outputCanvas{
  /*border: 1px solid red;*/
}

.output{
  height:224px;
}

.container{
  display: grid;
  width: 300px;
  /*height: 720px;*/
  /*border: 1px solid red;*/
}

.controlPaper{
  width: 300px;
  height: 680px;
  /*border: 1px solid black ;*/
}

.textPaper{
  width: 480px;
  height: 660px;
  padding-top: 20px;
}

.videoUnderlay, .output, .input{
  grid-area:1/1;
  height: 224px;
}

.title{
  font-size: 11pt;
  /*margin-bottom: 30px;*/
  margin:0px;
  padding-top: 30px;
  text-decoration: underline;
  /*border: 1px solid violet;*/
}
.note{
  font-size: 10pt;
  margin-bottom: 10px;
}

.loadingText{
  font-size: 12pt;
  margin-top: 81pt;
  color: #b1b1b1;
}

.leftEyeCanvas, .rightEyeCanvas{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
  /*border: 1px solid black;*/
}

.controlPanel{
  /*width:300px;*/
  height: 600px;
  /*border: 1px solid blue;*/
  padding: 0px;
}

.textWindow{
  width: 480px;
  height: 660px;
  /*border: 1px solid red;*/
}

.overall{
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr; /* fraction*/
}

.textContent{
  top:10px;
  margin-left: 20px;
  width:440px;
  height:600px;
  text-align: justify;
  /*font-size: 12px;*/
  box-shadow: inset 0 0 10px darkgray;
  /*border: 1px solid blue;*/
}

.textBox{
  /*border: 1px solid red;*/
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 620px;
}

.chartDiv{
  margin-top: 30px;
  /*border: 1px solid black;*/
}

.headerNotes{
  font-size: 16px;
}


.smallNote{
  font-size: 10px;
}