.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#webCam{

}

.inputCanvas,.outputCanvas{
  border: 1px solid black;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
  margin-left: 10px;
  margin-right: 10px;
}

.output{
  height:224px;
}

.container{
  display: grid;
  margin-bottom: 15px;
}

.videoUnderlay, .input, .output{
  grid-area:1/1;
}

.title{
  font-size: 11pt;
}
.note{
  font-size: 10pt;
}

.leftEyeCanvas, .rightEyeCanvas{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
  border: 1px solid black;
  margin-bottom: 32px;
}

